body
{
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

.dialog
{
	border: 2px solid white;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 16px 0px rgba(32, 0, 0, 0.8);

	width: intrinsic;
	margin: auto;
	padding: 20px;
}

.dialog > section:not(:first-child)
{
	margin-top: 20px;
}

.dialog > section > input, .dialog > section > button, .dialog > section > div
{
	display: block;
	width: 100%;
}

.token
{
	background: none;
	border: 0px dashed white;
	border-radius: 0px;
	/* padding: 10px; */
}

.token.placeholder
{
	border: 3px dashed white;
	border-radius: 20%;
	background: rgba(255, 255, 255, 0.25);
}

.token.placeholder img
{
	opacity: 0.5;
}

#table
{
	/* width: 100%; */
	height: 100%;
	background: url("Table/emblem.png") top left no-repeat, url("Table/background.jpg") top left;
  background-attachment: local;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	overflow: auto;
}

#table input, #table p
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#table.drag
{
	/* border: 4px dashed yellow; */
}

.status {
    /* background: rgb(255, 189, 160); */
    /* border: 2px solid rgb(82, 19, 19); */
    /* padding: 10px; */
    margin-bottom: 5px;
}

#chat-area {
    padding: 10px;
    /* position: relative; */
}

#loading
{
    background: #400710 url("Table/load.gif") center no-repeat;
    /* width: 100%; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;#
;-webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;
}

div#loading.finished
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  pointer-events: none;
}

#chat-line {
    position: absolute;
    /* bottom: 60px; */
    left: 0;
    right: 0;
    height: 20px;
    display: block;
    width: 100%;
}

.selection
{
  /* background-color: rgba(255, 255, 255, 0.34); */
  /* border: 3px solid rgb(0, 0, 0); */
  /* border-image: url(Table/selectionCorners.png) 34% repeat; */
  position: absolute;
  box-sizing: border-box;
  overflow: visible;
  /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.54); */
}

.actionbar
{
  height: 28px;
  position: absolute;
  top: -31px;
  /* height: 50px; */
  background: rgba(0, 0, 0, 0.68);
  /* top: 0; */
  color: rgb(219, 219, 219);
  border: 1px solid black;
  border-radius: 5px;
  /* padding: 4px; */
  box-sizing: border-box;
  font-size: 14px;
  left: -3;
  z-index: 200;
  /* max-width: 200%; */
  /* word-wrap: break-word; */
  white-space: nowrap;
}

.actionbar .item
{
  margin: 6px;
  /* padding: 2px; */
  min-width: 14px;
  text-align: center;
}

.obj
{
    /* image-rendering: pixelated; */
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate3d(0, 0, 0);
    /* overflow: hidden; */
    /* padding: 10px; */
}

.obj.player {
    padding-top: 22px;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

.obj.Window {
    background-color: rgba(61, 51, 51, 0.67);
    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
    /* padding: 5px 1px; */
    border-radius: 5px;
    border: 1px solid black;
    /* padding-top: 20px; */
    box-shadow: 2px 2px 6px rgba(64, 64, 64, 0.5);
}

.title-bar
{
  padding: 3px;
  height: 17px;
  color: rgb(219, 219, 219);
}


#table input
{
  padding-left: 1px;
  border: none;
  background: transparent;
  max-width: 100%;
  text-overflow: ellipsis;
  color: rgb(219, 219, 219);
  font-weight: bold;
}

*[contenteditable="true"]
{
  /* font-weight: 700; */
  /* color: white; */
  user-select: all;
  -webkit-user-select: all;
  pointer-events: all;
}

*[contenteditable=true]:empty:before
{
  content: attr(placeholder);
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.title-bar .buttons {
    /* color: rgb(219, 219, 219); */
    float: right;
    font-size: 17px;
    display: inline;
    position: absolute;
    right: 2px;
    top: 2px;
}

.obj.die {
    /* width: 50px; */
    /* padding: 15px; */
    /* background-color: white; */
    /* border: 1px solid rgb(103, 103, 103); */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 4px black; */
}

.sprite
{
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* display: inline-block; */
    position: absolute;
    top: 0px;
    display: box;
    width: i;
    /* height: auto; */
    bottom: 0px;
    /* margin: auto; */
    left: 0px;
    right: 0px;
    /* margin: 10px; */
}

.obj.die.tilted .actionbar.right {
    display: none;
}

/* Library */


.library .item, .library .folder
{
  background: white;
  border-left: 1px solid rgb(65, 65, 65);
  border-bottom: 1px solid rgb(134, 134, 134);
}

.library .item
{
  cursor: pointer;
}

.library * .label
{
  padding: 5px;
}

.library * .icon
{
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
  max-height: 24px;
}

.library .folder .contents
{
  display: none;
}

.library .folder.open .contents
{
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
}

.library .contents .item
{
  padding: 2px;
}

.single-color.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.folder>.label:before
{
  content: "\f07b";

  font: normal normal normal 24px/1 FontAwesome;
  color: rgb(134, 0, 0);
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 4px;
}

.folder.open>.label:before
{
  content: "\f07c";
}

.library .folder {
    background: rgb(253, 239, 236);
    /* cursor: pointer; */
}

.library .item:last-child {
    border-bottom: none;
}

input, button {
    /* width: 100%; */
    background-color: rgb(255, 200, 200);
    margin: 5px;
    border: 1px solid rgb(150, 0, 0);
    height: 24px;    vertical-align: middle;    line-height: 24px;
    /* width: 316px; */
    /* background-color: rgb(255, 200, 200); */
    transition: background-color 0.5s; */;
}


.selection.single {
    background: none;
    border: none;
    box-shadow: none;
}


.obj.selected
{
    background-color: rgba(255, 255, 255, 0.25);
    /* padding: 10px; */
    /* box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5); */
    border: 1px solid rgba(0, 0, 0, 1);
}

.selection.empty {
    display: none;
}


.actionbar.bottom {
    top: initial;
    bottom: -31px;
}

.rectangle-selection {
    position: absolute;
    border: 1px solid rgba(52, 52, 52, 0.46);
    background: rgba(255, 255, 255, 0.41);
    z-index: 900;
    pointer-events: none;
}

.token.selected {
    padding: 10px;
}

.player-name {
    font-weight: bold;
    /* text-shadow: 1px 0px 0px black, 1px 1px 0px black, -1px 1px 0px black; */
}

.player-name.dark {
    text-shadow: 1px 0px 1px white, 1px 0px 1px white, 1px 0px 1px white;
}


.welcome {
    margin-bottom: 10px;
    border: 2px dashed rgba(0, 0, 0, 0.13);
    padding: 10px;
    font-weight: 600;
}

.system, .join, .leave {
    color: rgb(157, 0, 131);
}

.join:before {
    content: ">> ";
}

.leave:before {
    content: "<< ";
}

input#name-input {
    /* width: 25%; */
    /* margin-right: 5px; */
    text-align: center;
    /* height: 24px; */
    /* padding: 0px; */
}

input#chat-input {
    width: 65%;
}

div#chat-controls {
    position: absolute;
    bottom: 0px;
    /* left: 0px; */
    height: 60px;
    width: 90%;
}

.chatmsg .player-name {
    /* text-align: right; */
    max-width: 120px;
    /* display: inline-block; */
    padding-right: 5px;
    border-right: 1px solid rgb(200, 200, 200);
    margin-right: 5px;
    min-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.chatmsg .player-name:before {
    content: "<";
    color: black;
    /* text-align: left; */
    /* display: inline-block; */
    text-shadow: none;
    vertical-align: top;
}

.chatmsg .player-name:after {
    content: ">";
    color: black;
    /* text-align: right; */
    text-shadow: none;
    vertical-align: top;
}

.chatmsg .message {
    margin: none;
    padding: none;
    white-space: pre;
    display: inline-block;
}

.action .player-name {
    /* padding-left: 0px; */
    /* padding-right: 13px; */
    /* border-right: 1px solid rgb(200, 200, 200); */
    margin-right: 5px;
}

.action .player-name:before {
    content: "* ";
}

textarea#chat-input {
    /* height: 24px; */
    /* width: 60%; */
    resize: none;
    /* display: inline-block; */
    /* margin: 0; */
    /* position: absolute; */
    /* vertical-align: middle; */
    /* text-align: center; */
    overflow: hidden;
}

.chatmsg .message * {
    margin: 0;
}

#hide-sidebar-button {
    position: absolute;
    left: -40px;
    top: 34px;
    width: 36px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(249, 245, 244, 1);
    border: 4px solid rgba(157, 0, 0, 1);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.49); */
}

#sidebar.hidden {
    right: -350px;
    /* transition: right 0.5s; */
}

#save-session-button, #load-session-button {
    /* width: 100%; */
}

.actionbar .value-counter {
    font-weight: bold;
    color: black;
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.actionbar .value-counter i {
    font-weight: normal;
    font-style: normal;
    color: gray;
}

b.plus {
    color: green;
}

b.minus {
    color: red;
}

#background-select {
    /* width: 70%; */
}

.library {
    border-top: 1px solid black;
}

label>*:nth-child(1) {
    max-width: 95px;
    display: inline-block;
    /* text-align: right; */
    padding-left: 5px;
    border-right: 1px solid black;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
    padding-right: 5px;
    /* min-width: 30%; */
    width: 95px;
}

label>*:nth-child(2) {
    width: 208px;

    height: 24px;
    vertical-align: middle;
    line-height: 24px;
}

label span
{
  border: none;
  background: rgb(255, 200, 200);
}

label input, label select, label textarea
{
  border: none;
  margin: 0;
}

label {
    /* border: 1px solid black; */
    margin: 5px;
    display: block;
    border: 1px solid rgb(150, 0, 0); */;
}


#sidebar h3 {
    margin-top: 0;
}


label#chat-controls {
    position: absolute;
    bottom: 40px;
}

#chat-area a {
    text-decoration: none;
    color: rgb(157, 0, 0);
}

.sheet>div {
    background: radial-gradient(rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.1)),rgb(255, 240, 208);
    color: black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
    /* margin: 10px; */
    border: 2px solid rgba(115, 85, 52, 0.39);
    font-family: 'Roboto Condensed', sans-serif;
}

.obj.sheet {
    padding: 5px;
}

.obj.selected .resizer {
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 9px;
    height: 9px;
    background: linear-gradient(-45deg, rgba(184, 135, 110, 1) 0%, transparent 10%, rgba(184, 135, 110, 1) 20%, transparent 30%, rgba(184, 135, 110, 1) 40%, transparent 50%);
}

button:hover {
    background-color: rgb(255, 143, 143);
    /* transition: background-color 0.5s; */
}

button {
    border-radius: 5px;
}

.group {
    margin: 5px;
}

.group>* {
    margin: 0;
}

.group button:first-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.group button:last-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
