.dialog
{
	border: 2px solid white;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 16px 0px rgba(32, 0, 0, 0.8);

	width: intrinsic;
	margin: auto;
	padding: 20px;
}

.dialog > section:not(:first-child)
{
	margin-top: 20px;
}

.dialog > section > input, .dialog > section > button, .dialog > section > div
{
	display: block;
	width: 100%;
}

.token
{
	transition: width 0.2s, height 0.2s, background 2s, border 2s, border-radius 2s;
	background: none;
	border: 0px dashed white;
	border-radius: 0px;
	overflow: hidden;
}

.token.placeholder
{
	border: 3px dashed white;
	border-radius: 20%;
	background: rgba(255, 255, 255, 0.25);
}

.token.placeholder img
{
	opacity: 0.5;
}

#table
{
	/* width: 100%; */
	height: 100%;
	background: url("Table/background.jpg");
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 450px;
}

#table.drag
{
	/* border: 4px dashed yellow; */
}

#sidebar
{
	width: 450px;
	background: rgb(107, 41, 41);
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	overflow: hidden;
	border-left: 4px solid rgb(181, 108, 108);
	box-shadow: -2px 0px 5px rgba(40,0,0,0.8);
	box-sizing: border-box;
}

.status {
    background: rgb(255, 189, 160);
    border: 2px solid rgb(82, 19, 19);
    padding: 10px;
    margin-bottom: 5px;
}

#chat-area {
    padding: 10px;
    /* position: relative; */
}

#loading
{
    background: #400710 url("Table/load.gif") center no-repeat;
    /* width: 100%; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 450px;#
}

#loading.finished
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.35s, opacity 0.35s linear;
}

#chat-line {
    position: absolute;
    /* bottom: 60px; */
    left: 0;
    right: 0;
    height: 20px;
    display: block;
    width: 100%;
}