body
{
  max-width: 800px;
}

page
{
  margin-bottom: 60px;
  display: block;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  padding: 20px;
}

block
{
  border: 1px solid rgb(226, 225, 225);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

label
{
  display: block;
  flex-grow: 0 !important;
}

row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

column, block, item
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

row > *, column > *, block > *, item > *
{
  flex-grow: 1;
}

span[property]
{
  padding: 5px;
  min-width: 10px;
  min-height: 10px;
}

div[property]
{
  padding: 5px;
  min-width: 100px;
  min-height: 100px;
}


item-list {
  margin: 5px;
  /* display: flex; */
}

img.placeholder:hover {
  border: 2px solid wheat;
  border-radius: 5px;
}

img {
  box-sizing: border-box;
}

h3 {
  background: black;
  color: white;
  margin: 0px;
  padding-left: 5px;
}


item.boxAttr {
  text-align: center;
  /* border: 4px solid #000000; */
  /* margin: 4px; */
  /* border-top-right-radius: 15px; */
  background: radial-gradient(#C5C5C5, #ADADAD);
  /* color: white; */
  /* margin: 2px; */
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
  min-width: 20px;
  box-shadow: inset 0px 1px 4px black;
}

h2 {
  border-bottom: 1px dotted black;
}

[contenteditable="true"]
{
  color: rgb(25, 107, 94);
  border-bottom: 1px dotted rgb(68, 170, 154);
}

[contenteditable="true"]:focus
{
  color: inherit;
  border-bottom-color: inherit;
}
